:root {
    --main-bg-color: #e9d6d6;
    --text-color: #9a031e;
    --header-bg-color: #9a031e;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

h1, h2, h4 {
    color: #333;
    text-align: center;
}


.navbar-brand{
    color: var(--header-bg-color);
}

.navbar-nav a:hover {
    color: var(--header-bg-color);
    text-decoration: underline;
}

.navbar-nav :active{
    background-color: #9a031e;
}


.viagem_mainDiv
{
    border: 1px solid lightgrey;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

kbd{
    background-color:#9a031e ;
    font-size: larger;
}

p{
    font-size: large;
    color: #9a031e;
}

.viagem_mainDiv img
{
  width: 100%;
}

 
.viagem_mainDiv h5 , .viagem_mainDiv p
{
margin: 20px;
}


.filmesHead
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.filmesHead i
{
float: right;
}

.filmesText span
{
color: orange;
}

#entrega-de-mantas img{
    width: 100%;
    height: auto;
}

#encontros-crochetaco img{
    width: 100%;
    height: auto;
}

img {
    margin-bottom: 15px;
    border-radius: 10px;
} 
  
#contato
{
    width: 100%;
}

ul {
    list-style:none;
    padding: 0;
  }


/* Seções colapsáveis */
.filmesHead {
    background-color: #9a031e;
    cursor: pointer;
    padding: 15px;
    color: #f9fbfc;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
  }

.btn {
    background-color: #f06292; /* Rosa vibrante */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

a{
    color: #031a99;
}

.embed{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 15px;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 30px;
}

.text-center p {
    font-size: 70%;
}

#pix img{
    margin: auto;
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}

#extra-texto{
    text-align: center;
}

#receita-manta img{
    margin: auto;
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}
